<nav>
    <div class="nav-photo"></div>
    <div class="nav-name">
        <p title="权限">
            <%= power %>
        </p>
        <p title="账号">
            <%= user_name %>
        </p>
    </div>
    <div>
        <h1>后台管理中心</h1>
    </div>
    <div class="exit">
        <a class="btn btn-danger" href="/api/login?t"><span class=" glyphicon glyphicon-off"></span> 退出登录</a>
    </div>
</nav>